
  path {
    fill: #dbdbdb;
    stroke: whitesmoke;
  }
  .svgContainer {
    width: 100%;
    margin-top: 0.5rem;
    z-index: 1000;
    border-color: #D3D3D3;
    border-style: solid;
    border-width: 2px;
  }
  .svgContainer img {
    width: 100%;
  }
  